@page
@model SampleApiWithEureka.ClientRazorPage.Pages.IndexModel
@{
}
<h3 class="alert alert-info">نمونه مثال ApiGateway با استفاده از Service Registery/Discovery و پکیج Eureka</h3>
<h4 class="alert alert-warning">مثال پیاده سازی سیستم آموزشی  با استفاده از ApiGateway</h4>
<partial name="PrintErrors" model="@MessageModel.Messages" />